USE [master]
GO
/****** Object:  Database [RTCSEWMS]    Script Date: 5/6/2016 7:53:33 PM ******/
CREATE DATABASE [RTCSEWMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RTCSEWMS', FILENAME = N'D:\DatabaseFile\RTCSEWMS.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RTCSEWMS_log', FILENAME = N'D:\DatabaseFile\RTCSEWMS_log.ldf' , SIZE = 10176KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RTCSEWMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RTCSEWMS]
GO
/****** Object:  Table [dbo].[BugIssue]    Script Date: 5/6/2016 7:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BugIssue](
	[BI_ID] [int] IDENTITY(1,1) NOT NULL,
	[BI_FK_SR_ID] [int] NULL,
	[BI_FK_S_ID] [int] NULL,
	[BI_FK_TT_ID] [int] NULL,
	[BI_Title] [varchar](300) NULL,
	[BI_Type] [varchar](10) NULL,
	[BI_Content] [varchar](max) NULL,
	[BI_EnvironmentServer] [varchar](100) NULL,
	[BI_TopologyName] [varchar](50) NULL,
	[BI_Remark] [varchar](max) NULL,
	[BI_CaseNumber] [varchar](100) NULL,
	[BI_CreateDate] [varchar](20) NULL,
	[BI_Status] [varchar](10) NULL,
	[BI_Owner] [int] NULL,
	[BI_UpdateTime] [varchar](20) NULL,
	[BI_ReferenceBIID] [int] NULL,
 CONSTRAINT [PK_BugIssue] PRIMARY KEY CLUSTERED 
(
	[BI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Scenario]    Script Date: 5/6/2016 7:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Scenario](
	[S_ID] [int] IDENTITY(1,1) NOT NULL,
	[S_FK_TT_ID] [int] NULL,
	[S_ScenarioName] [varchar](300) NULL,
	[S_CreateDate] [varchar](20) NULL,
	[S_IsDelete] [int] NULL,
	[S_HaveRole] [varchar](5) NULL,
 CONSTRAINT [PK_Sceniro] PRIMARY KEY CLUSTERED 
(
	[S_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ScenarioRole]    Script Date: 5/6/2016 7:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ScenarioRole](
	[SR_ID] [int] IDENTITY(1,1) NOT NULL,
	[SR_FK_S_ID] [int] NULL,
	[SR_FK_TT_ID] [int] NULL,
	[SR_AssignedUser] [varchar](50) NULL,
	[SR_AssignedUserName] [varchar](200) NULL,
	[SR_RoleTitle] [varchar](100) NULL,
	[SR_CaseNum] [varchar](10) NULL,
	[SR_CasePassed] [varchar](10) NULL,
	[SR_CaseNA] [varchar](10) NULL,
	[SR_CaseFailed] [varchar](10) NULL,
	[SR_CaseRedmond] [varchar](10) NULL,
	[SR_CompleteProgress] [varchar](10) NULL,
	[SR_CreateUser] [varchar](50) NULL,
	[SR_CreateDate] [varchar](20) NULL,
	[SR_Comments] [varchar](max) NULL,
	[SR_TimeStart] [varchar](20) NULL,
	[SR_TimeEnd] [varchar](20) NULL,
	[SR_TimeUsed] [varchar](100) NULL,
	[SR_Status] [varchar](10) NULL,
	[SR_IsDelete] [varchar](5) NULL,
	[SR_CompleteReason] [varchar](20) NULL,
 CONSTRAINT [PK_ScenarioRole] PRIMARY KEY CLUSTERED 
(
	[SR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TaskDaily]    Script Date: 5/6/2016 7:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaskDaily](
	[TD_ID] [int] IDENTITY(1,1) NOT NULL,
	[TD_FK_TaskTotalID] [int] NULL,
	[TD_Date] [varchar](10) NULL,
	[TD_CaseShouldRunNum] [varchar](10) NULL,
	[TD_CaseRealRunNum] [varchar](10) NULL,
	[TD_CasePassNum] [varchar](10) NULL,
	[TD_CaseNANum] [varchar](10) NULL,
	[TD_CaseFailNum] [varchar](10) NULL,
	[TD_CaseRunInRedmond] [varchar](10) NULL,
	[TD_BugIssueNum] [varchar](max) NULL,
	[TD_ReportLink] [varchar](max) NULL,
	[TD_Comments] [varchar](max) NULL,
	[TD_CreateDate] [varchar](20) NULL,
	[TD_TaskProgress] [varchar](10) NULL,
	[TD_TaskStatus] [varchar](10) NULL,
 CONSTRAINT [PK_TaskDaily] PRIMARY KEY CLUSTERED 
(
	[TD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TaskPersonal]    Script Date: 5/6/2016 7:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaskPersonal](
	[TP_ID] [int] IDENTITY(1,1) NOT NULL,
	[TP_Title] [varchar](300) NULL,
	[TP_DateStart] [varchar](10) NULL,
	[TP_DateEnd] [varchar](10) NULL,
	[TP_TimeStart] [varchar](20) NULL,
	[TP_TimeEnd] [varchar](20) NULL,
	[TP_TimeUsed] [varchar](100) NULL,
	[TP_Progress] [varchar](10) NULL,
	[TP_CreateUser] [varchar](50) NULL,
	[TP_Owner] [varchar](50) NULL,
	[TP_Comments] [varchar](max) NULL,
	[TP_Status] [varchar](10) NULL,
	[TP_IsDelete] [varchar](5) NULL,
	[TP_CreateDate] [varchar](20) NULL,
	[TP_CompleteReason] [varchar](20) NULL,
 CONSTRAINT [PK_TaskPersonal] PRIMARY KEY CLUSTERED 
(
	[TP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TaskTotal]    Script Date: 5/6/2016 7:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaskTotal](
	[TT_ID] [int] IDENTITY(1,1) NOT NULL,
	[TT_Title] [varchar](300) NULL,
	[TT_Release] [varchar](10) NULL,
	[TT_CU] [varchar](10) NULL,
	[TT_BuildType] [varchar](20) NULL,
	[TT_BuildNum] [varchar](20) NULL,
	[TT_TaskType] [varchar](20) NULL,
	[TT_CaseTotalNum] [varchar](10) NULL,
	[TT_CaseRealRunNum] [varchar](10) NULL,
	[TT_DateStart] [varchar](10) NULL,
	[TT_DateEnd] [varchar](10) NULL,
	[TT_TaskStyle] [varchar](10) NULL,
	[TT_BugIssueNum] [varchar](max) NULL,
	[TT_ReportLink] [varchar](max) NULL,
	[TT_Comments] [varchar](max) NULL,
	[TT_CreateDate] [varchar](20) NULL,
	[TT_TaskProgress] [varchar](10) NULL,
	[TT_TaskStatus] [varchar](10) NULL,
	[TT_HaveScenario] [varchar](5) NULL,
	[TT_TimeStart] [varchar](20) NULL,
	[TT_TimeEnd] [varchar](20) NULL,
	[TT_TimeUsed] [varchar](100) NULL,
	[TT_CompleteReason] [varchar](20) NULL,
 CONSTRAINT [PK_TaskTotal] PRIMARY KEY CLUSTERED 
(
	[TT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 5/6/2016 7:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserInfo](
	[U_ID] [int] IDENTITY(1,1) NOT NULL,
	[U_username] [varchar](50) NULL,
	[U_password] [varchar](200) NULL,
	[U_power] [varchar](10) NULL,
	[U_nickname] [varchar](100) NULL,
	[U_mailbox] [varchar](50) NULL,
	[U_Role] [varchar](50) NULL,
	[U_Comments] [varchar](max) NULL,
	[U_CreateDate] [varchar](20) NULL,
	[U_IsDelete] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[U_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[V_TaskDetail]    Script Date: 5/6/2016 7:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_TaskDetail]
AS
SELECT        dbo.TaskTotal.TT_ID, dbo.TaskTotal.TT_Title AS TD_TaskTitle, dbo.TaskTotal.TT_Release, dbo.TaskTotal.TT_BuildType, dbo.TaskTotal.TT_TaskType, 
                         dbo.TaskTotal.TT_TaskStyle, dbo.TaskTotal.TT_CU, dbo.TaskTotal.TT_BuildNum, dbo.Scenario.S_ScenarioName AS TD_ScenarioTitle, 
                         dbo.ScenarioRole.SR_RoleTitle AS TD_RoleTitle, dbo.ScenarioRole.SR_CaseNum, dbo.ScenarioRole.SR_CasePassed, dbo.ScenarioRole.SR_CaseFailed, 
                         dbo.ScenarioRole.SR_CaseNA, dbo.ScenarioRole.SR_CaseRedmond, dbo.TaskTotal.TT_DateStart AS TD_DateStart, dbo.TaskTotal.TT_DateEnd AS TD_DateEnd, 
                         dbo.UserInfo.U_nickname AS TD_Owner, dbo.ScenarioRole.SR_AssignedUserName AS TD_AssignedUserName, 
                         dbo.ScenarioRole.SR_Comments + dbo.TaskTotal.TT_Comments AS TD_Comments, dbo.ScenarioRole.SR_ID AS TD_ID, 'public' AS TD_CardType, 
                         dbo.ScenarioRole.SR_IsDelete AS TD_IsDelete, dbo.ScenarioRole.SR_CompleteProgress AS TD_Progress, 
                         dbo.ScenarioRole.SR_AssignedUser AS TD_AssignedUserID, dbo.ScenarioRole.SR_TimeStart AS TD_TimeStart, dbo.ScenarioRole.SR_TimeEnd AS TD_TimeEnd, 
                         dbo.ScenarioRole.SR_TimeUsed AS TD_TimeUsed,dbo.ScenarioRole.SR_CompleteReason AS TD_CompleteReason
FROM            dbo.Scenario RIGHT OUTER JOIN
                         dbo.ScenarioRole ON dbo.Scenario.S_ID = dbo.ScenarioRole.SR_FK_S_ID LEFT OUTER JOIN
                         dbo.UserInfo ON dbo.ScenarioRole.SR_CreateUser = dbo.UserInfo.U_ID LEFT OUTER JOIN
                         dbo.TaskTotal ON dbo.ScenarioRole.SR_FK_TT_ID = dbo.TaskTotal.TT_ID
UNION ALL
SELECT        0 AS TT_ID, dbo.TaskPersonal.TP_Title AS TD_TaskTitle, '' AS TT_Release, '' AS TT_BuildType, '' AS TT_TaskType, '' AS TT_TaskStyle, '' AS TT_CU, 
                         '' AS TT_BuildNum, '' AS TD_ScenarioTitle, '' AS TD_RoleTitle, '0' AS SR_CaseNum, '0' AS SR_CasePassed, '0' AS SR_CaseFailed, '0' AS SR_CaseNA, 
                         '0' AS SR_CaseRedmond, dbo.TaskPersonal.TP_DateStart AS TD_DateStart, dbo.TaskPersonal.TP_DateEnd AS TD_DateEnd, U_Owner.U_nickname AS TD_Owner, 
                         U_Create.U_nickname AS TD_AssignedUserName, dbo.TaskPersonal.TP_Comments AS TD_Comments, dbo.TaskPersonal.TP_ID AS TD_ID, 
                         'private' AS TD_CardType, dbo.TaskPersonal.TP_IsDelete, dbo.TaskPersonal.TP_Progress AS TD_Progress, 
                         dbo.TaskPersonal.TP_CreateUser AS TD_AssignedUserID, dbo.TaskPersonal.TP_TimeStart AS TD_TimeStart, dbo.TaskPersonal.TP_TimeEnd AS TD_TimeEnd, 
                         dbo.TaskPersonal.TP_TimeUsed AS TD_TimeUsed,dbo.TaskPersonal.TP_CompleteReason AS TD_CompleteReason
FROM            dbo.TaskPersonal LEFT OUTER JOIN
                         dbo.UserInfo AS U_Create ON dbo.TaskPersonal.TP_CreateUser = U_Create.U_ID LEFT OUTER JOIN
                         dbo.UserInfo AS U_Owner ON dbo.TaskPersonal.TP_Owner = U_Owner.U_ID

GO
/****** Object:  View [dbo].[V_TaskDetailSimple]    Script Date: 5/6/2016 7:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_TaskDetailSimple]
AS
SELECT        dbo.ScenarioRole.SR_IsDelete AS TD_IsDelete, dbo.ScenarioRole.SR_Status AS TD_Status, dbo.TaskTotal.TT_Title AS TD_TaskTitle, 
                         dbo.Scenario.S_ScenarioName AS TD_ScenarioTitle, dbo.ScenarioRole.SR_RoleTitle AS TD_RoleTitle, dbo.ScenarioRole.SR_ID AS TD_ID, 
                         dbo.ScenarioRole.SR_AssignedUserName AS TD_AssignedUserName, 'public' AS TD_CardType, dbo.TaskTotal.TT_DateStart AS TD_DateStart, 
                         dbo.TaskTotal.TT_DateEnd AS TD_DateEnd, dbo.UserInfo.U_nickname AS TD_Owner, dbo.TaskTotal.TT_TaskType AS TD_TaskType, 
                         dbo.ScenarioRole.SR_AssignedUser AS TD_AssignedUserID,dbo.ScenarioRole.SR_TimeEnd AS TD_TimeEnd
FROM            dbo.ScenarioRole INNER JOIN
                         dbo.UserInfo ON dbo.ScenarioRole.SR_CreateUser = dbo.UserInfo.U_ID LEFT OUTER JOIN
                         dbo.TaskTotal ON dbo.ScenarioRole.SR_FK_TT_ID = dbo.TaskTotal.TT_ID LEFT OUTER JOIN
                         dbo.Scenario ON dbo.ScenarioRole.SR_FK_S_ID = dbo.Scenario.S_ID
UNION ALL
SELECT        dbo.TaskPersonal.TP_IsDelete AS TD_IsDelete, dbo.TaskPersonal.TP_Status AS TD_Status, dbo.TaskPersonal.TP_Title AS TD_TaskTitle, '' AS TD_ScenarioTitle, 
                         '' AS TD_RoleTitle, dbo.TaskPersonal.TP_ID AS TD_ID, U_Create.U_nickname AS TD_AssignedUserName, 'private' AS TD_CardType, 
                         dbo.TaskPersonal.TP_DateStart AS TD_DateStart, dbo.TaskPersonal.TP_DateEnd AS TD_DateEnd, U_Owner.U_nickname AS TD_Owner, 
                         'Private Task' AS TD_TaskType, ',' + dbo.TaskPersonal.TP_CreateUser + ',' AS TD_AssignedUserID,dbo.TaskPersonal.TP_TimeEnd AS TD_TimeEnd
FROM            dbo.UserInfo AS U_Owner INNER JOIN
                         dbo.TaskPersonal ON U_Owner.U_ID = dbo.TaskPersonal.TP_Owner LEFT OUTER JOIN
                         dbo.UserInfo AS U_Create ON dbo.TaskPersonal.TP_CreateUser = U_Create.U_ID

GO
/****** Object:  View [dbo].[V_TaskTotalScenario]    Script Date: 5/6/2016 7:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_TaskTotalScenario]
AS
SELECT        dbo.TaskTotal.TT_Title, dbo.Scenario.S_ID, dbo.Scenario.S_FK_TT_ID, dbo.Scenario.S_ScenarioName, dbo.Scenario.S_CreateDate, dbo.Scenario.S_IsDelete, 
                         dbo.Scenario.S_HaveRole, dbo.TaskTotal.TT_TaskStatus
FROM            dbo.Scenario LEFT OUTER JOIN
                         dbo.TaskTotal ON dbo.Scenario.S_FK_TT_ID = dbo.TaskTotal.TT_ID

GO
/****** Object:  View [dbo].[V_TaskTotalScenarioScenarioRole]    Script Date: 5/6/2016 7:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_TaskTotalScenarioScenarioRole]
AS
SELECT        dbo.TaskTotal.TT_Title, dbo.ScenarioRole.SR_ID, dbo.ScenarioRole.SR_FK_S_ID, dbo.ScenarioRole.SR_FK_TT_ID, dbo.ScenarioRole.SR_AssignedUser, 
                         dbo.ScenarioRole.SR_AssignedUserName, dbo.ScenarioRole.SR_RoleTitle, dbo.ScenarioRole.SR_CaseNum, dbo.ScenarioRole.SR_CasePassed, 
                         dbo.ScenarioRole.SR_CaseNA, dbo.ScenarioRole.SR_CaseFailed, dbo.ScenarioRole.SR_CaseRedmond, dbo.ScenarioRole.SR_CompleteProgress, 
                         dbo.ScenarioRole.SR_CreateUser, dbo.ScenarioRole.SR_Comments, dbo.Scenario.S_ScenarioName, dbo.UserInfo.U_nickname, dbo.ScenarioRole.SR_Status, 
                         dbo.ScenarioRole.SR_IsDelete, dbo.TaskTotal.TT_TaskStatus
FROM            dbo.UserInfo RIGHT OUTER JOIN
                         dbo.ScenarioRole ON dbo.UserInfo.U_ID = dbo.ScenarioRole.SR_CreateUser LEFT OUTER JOIN
                         dbo.TaskTotal ON dbo.ScenarioRole.SR_FK_TT_ID = dbo.TaskTotal.TT_ID LEFT OUTER JOIN
                         dbo.Scenario ON dbo.ScenarioRole.SR_FK_S_ID = dbo.Scenario.S_ID

GO
SET IDENTITY_INSERT [dbo].[BugIssue] ON 

SET IDENTITY_INSERT [dbo].[BugIssue] OFF
SET IDENTITY_INSERT [dbo].[Scenario] ON 

INSERT [dbo].[Scenario] ([S_ID], [S_FK_TT_ID], [S_ScenarioName], [S_CreateDate], [S_IsDelete], [S_HaveRole]) VALUES (5, 23, N'W14 CU12-HF5 (7577.713) -> W14 CU14(7577.726) Sanity', N'2016-04-05 18:14:52', 0, N'Yes')
INSERT [dbo].[Scenario] ([S_ID], [S_FK_TT_ID], [S_ScenarioName], [S_CreateDate], [S_IsDelete], [S_HaveRole]) VALUES (6, 23, N'W14 RTM -> W14 CU14(7577.726) Sanity', N'2016-04-05 18:14:52', 0, N'Yes')
INSERT [dbo].[Scenario] ([S_ID], [S_FK_TT_ID], [S_ScenarioName], [S_CreateDate], [S_IsDelete], [S_HaveRole]) VALUES (7, 23, N'W14 CU12-HF5 (7577.713) -> W14 CU14(7577.726) Full', N'2016-04-05 18:14:52', 0, N'Yes')
SET IDENTITY_INSERT [dbo].[Scenario] OFF
SET IDENTITY_INSERT [dbo].[ScenarioRole] ON 

INSERT [dbo].[ScenarioRole] ([SR_ID], [SR_FK_S_ID], [SR_FK_TT_ID], [SR_AssignedUser], [SR_AssignedUserName], [SR_RoleTitle], [SR_CaseNum], [SR_CasePassed], [SR_CaseNA], [SR_CaseFailed], [SR_CaseRedmond], [SR_CompleteProgress], [SR_CreateUser], [SR_CreateDate], [SR_Comments], [SR_TimeStart], [SR_TimeEnd], [SR_TimeUsed], [SR_Status], [SR_IsDelete], [SR_CompleteReason]) VALUES (1, 7, 23, N',1,2,3,', N'Ellin Lv,Chen Chen,Guoxia Ma', N'12341234', N'34', N'12', N'0', N'0', N'0', N'20', N'1', NULL, NULL, NULL, NULL, NULL, N'Pending', N'0', NULL)
INSERT [dbo].[ScenarioRole] ([SR_ID], [SR_FK_S_ID], [SR_FK_TT_ID], [SR_AssignedUser], [SR_AssignedUserName], [SR_RoleTitle], [SR_CaseNum], [SR_CasePassed], [SR_CaseNA], [SR_CaseFailed], [SR_CaseRedmond], [SR_CompleteProgress], [SR_CreateUser], [SR_CreateDate], [SR_Comments], [SR_TimeStart], [SR_TimeEnd], [SR_TimeUsed], [SR_Status], [SR_IsDelete], [SR_CompleteReason]) VALUES (2, 7, 23, N',2,', N'Chen Chen', N'werwer', N'20', N'0', N'0', N'0', N'0', N'30', N'2', NULL, NULL, NULL, NULL, NULL, N'Pending', N'0', NULL)
INSERT [dbo].[ScenarioRole] ([SR_ID], [SR_FK_S_ID], [SR_FK_TT_ID], [SR_AssignedUser], [SR_AssignedUserName], [SR_RoleTitle], [SR_CaseNum], [SR_CasePassed], [SR_CaseNA], [SR_CaseFailed], [SR_CaseRedmond], [SR_CompleteProgress], [SR_CreateUser], [SR_CreateDate], [SR_Comments], [SR_TimeStart], [SR_TimeEnd], [SR_TimeUsed], [SR_Status], [SR_IsDelete], [SR_CompleteReason]) VALUES (3, 6, 23, N',3,', N'Guoxia Ma', N'123144', N'23', N'0', N'0', N'0', N'0', N'50', N'3', NULL, NULL, NULL, NULL, NULL, N'Pending', N'0', NULL)
SET IDENTITY_INSERT [dbo].[ScenarioRole] OFF
SET IDENTITY_INSERT [dbo].[TaskDaily] ON 

INSERT [dbo].[TaskDaily] ([TD_ID], [TD_FK_TaskTotalID], [TD_Date], [TD_CaseShouldRunNum], [TD_CaseRealRunNum], [TD_CasePassNum], [TD_CaseNANum], [TD_CaseFailNum], [TD_CaseRunInRedmond], [TD_BugIssueNum], [TD_ReportLink], [TD_Comments], [TD_CreateDate], [TD_TaskProgress], [TD_TaskStatus]) VALUES (1, 21, N'2016-03-29', N'34', N'20', N'0', N'0', N'0', NULL, NULL, NULL, N'', N'2016-03-31 17:53:57', N'58', NULL)
INSERT [dbo].[TaskDaily] ([TD_ID], [TD_FK_TaskTotalID], [TD_Date], [TD_CaseShouldRunNum], [TD_CaseRealRunNum], [TD_CasePassNum], [TD_CaseNANum], [TD_CaseFailNum], [TD_CaseRunInRedmond], [TD_BugIssueNum], [TD_ReportLink], [TD_Comments], [TD_CreateDate], [TD_TaskProgress], [TD_TaskStatus]) VALUES (2, 21, N'2016-03-30', N'34', N'0', N'0', N'0', N'0', NULL, NULL, NULL, N'', N'2016-03-31 17:54:03', N'0', NULL)
INSERT [dbo].[TaskDaily] ([TD_ID], [TD_FK_TaskTotalID], [TD_Date], [TD_CaseShouldRunNum], [TD_CaseRealRunNum], [TD_CasePassNum], [TD_CaseNANum], [TD_CaseFailNum], [TD_CaseRunInRedmond], [TD_BugIssueNum], [TD_ReportLink], [TD_Comments], [TD_CreateDate], [TD_TaskProgress], [TD_TaskStatus]) VALUES (3, 21, N'2016-03-31', N'34', N'0', N'0', N'0', N'0', NULL, NULL, NULL, N'', N'2016-03-31 17:54:05', N'0', NULL)
SET IDENTITY_INSERT [dbo].[TaskDaily] OFF
SET IDENTITY_INSERT [dbo].[TaskPersonal] ON 

INSERT [dbo].[TaskPersonal] ([TP_ID], [TP_Title], [TP_DateStart], [TP_DateEnd], [TP_TimeStart], [TP_TimeEnd], [TP_TimeUsed], [TP_Progress], [TP_CreateUser], [TP_Owner], [TP_Comments], [TP_Status], [TP_IsDelete], [TP_CreateDate], [TP_CompleteReason]) VALUES (1, N'Test Person Task 1', N'2016-04-16', N'2016-04-19', N'2016-04-19 11:12:18', N'2016-04-19 11:13:47', N'1', N'0', N'13', N'13', N'Test Person Task 1 Comments', N'Complete', N'0', NULL, NULL)
INSERT [dbo].[TaskPersonal] ([TP_ID], [TP_Title], [TP_DateStart], [TP_DateEnd], [TP_TimeStart], [TP_TimeEnd], [TP_TimeUsed], [TP_Progress], [TP_CreateUser], [TP_Owner], [TP_Comments], [TP_Status], [TP_IsDelete], [TP_CreateDate], [TP_CompleteReason]) VALUES (2, N'Personal Task 2', N'2016-04-17', N'2016-04-19', N'04/18/2016 10:30:24', N'04/19/2016 10:50:25', N'1460', N'0', N'13', N'13', N'Personal Task 2 Comments', N'Complete', N'0', NULL, NULL)
INSERT [dbo].[TaskPersonal] ([TP_ID], [TP_Title], [TP_DateStart], [TP_DateEnd], [TP_TimeStart], [TP_TimeEnd], [TP_TimeUsed], [TP_Progress], [TP_CreateUser], [TP_Owner], [TP_Comments], [TP_Status], [TP_IsDelete], [TP_CreateDate], [TP_CompleteReason]) VALUES (3, N'Test Person Task 3', N'2016-04-18', N'2016-04-20', N'2016-04-19 11:21:54', N'2016-04-19 11:22:12', N'1', N'0', N'13', N'4', N'Test Person Task 3 Comments', N'Complete', N'0', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TaskPersonal] OFF
SET IDENTITY_INSERT [dbo].[TaskTotal] ON 

SET IDENTITY_INSERT [dbo].[TaskTotal] OFF
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([U_ID], [U_username], [U_password], [U_power], [U_nickname], [U_mailbox], [U_Role], [U_Comments], [U_CreateDate], [U_IsDelete]) VALUES (1, N'v-ellv', N'v-ellv', N'L9', N'Ellin Lv', N'v-ellv@microsoft.com', N'Leader', N'asdfasdfasdf', NULL, 0)
INSERT [dbo].[UserInfo] ([U_ID], [U_username], [U_password], [U_power], [U_nickname], [U_mailbox], [U_Role], [U_Comments], [U_CreateDate], [U_IsDelete]) VALUES (2, N'v-chche', N'v-chche', N'L9', N'Chen Chen', N'v-chche@microsoft.com', N'Leader', NULL, NULL, 0)
INSERT [dbo].[UserInfo] ([U_ID], [U_username], [U_password], [U_power], [U_nickname], [U_mailbox], [U_Role], [U_Comments], [U_CreateDate], [U_IsDelete]) VALUES (3, N'v-guoma', N'v-guoma', N'L8', N'Guoxia Ma', N'v-guoma@microsoft.com', N'Tester', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bug or Issue' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BugIssue', @level2type=N'COLUMN',@level2name=N'BI_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Open, Closed, ReOpen' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BugIssue', @level2type=N'COLUMN',@level2name=N'BI_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'minute' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ScenarioRole', @level2type=N'COLUMN',@level2name=N'SR_TimeUsed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Inprogress, Complete,Pause,Break' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TaskDaily', @level2type=N'COLUMN',@level2name=N'TD_TaskStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'minute' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TaskPersonal', @level2type=N'COLUMN',@level2name=N'TP_TimeUsed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Yes or No' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TaskTotal', @level2type=N'COLUMN',@level2name=N'TT_HaveScenario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[19] 4[25] 2[37] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -192
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 30
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2670
         Alias = 2010
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_TaskDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_TaskDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[32] 4[11] 2[34] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 13
         Width = 284
         Width = 1500
         Width = 1500
         Width = 3135
         Width = 3900
         Width = 1500
         Width = 1500
         Width = 2415
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1575
         Alias = 1665
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_TaskDetailSimple'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_TaskDetailSimple'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Scenario"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 168
               Right = 207
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TaskTotal"
            Begin Extent = 
               Top = 6
               Left = 245
               Bottom = 268
               Right = 437
            End
            DisplayFlags = 280
            TopColumn = 12
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_TaskTotalScenario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_TaskTotalScenario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "UserInfo"
            Begin Extent = 
               Top = 6
               Left = 708
               Bottom = 254
               Right = 868
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ScenarioRole"
            Begin Extent = 
               Top = 8
               Left = 41
               Bottom = 257
               Right = 244
            End
            DisplayFlags = 280
            TopColumn = 10
         End
         Begin Table = "TaskTotal"
            Begin Extent = 
               Top = 6
               Left = 478
               Bottom = 269
               Right = 670
            End
            DisplayFlags = 280
            TopColumn = 11
         End
         Begin Table = "Scenario"
            Begin Extent = 
               Top = 95
               Left = 300
               Bottom = 254
               Right = 469
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_TaskTotalScenarioScenarioRole'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_TaskTotalScenarioScenarioRole'
GO
USE [master]
GO
